<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>SDemo-分享、学习、展示Demo</title>
  <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.js"></script>
<script type="text/javascript">
var baseUrl = 'http://127.0.0.1:8360';
var baseStaticUrl = '/';
</script>
</head>

<body>
  <div id="app"></div>
<script type="text/javascript" src="http://127.0.0.1:8010/assets/manifest.js"></script>
<script type="text/javascript" src="http://127.0.0.1:8010/assets/vendor.js"></script>
<script type="text/javascript" src="http://127.0.0.1:8010/assets/index.js"></script>
</body>

</html>
